@page
@model Project.Pages.GrammarModel
@{
    ViewData["Title"] = "Grammar page";
    <style>
        .Stripe {
        }
    </style>
}

<div class="text-center">
    <p><h5>Start Exploring English Grammar Now.</h5></p>
    <p>Here's what we have for you:</p>
</div>