@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    <style>
        .Stripe {

        }
    </style>
}
<div class="container bg-white box-shadow text-center rounded">
    <img src="/grads/immm.png" alt="There should be a nice gradient" /><br />
    <p><h5>Start Exploring English Now.</h5></p>
    <p style="padding-bottom: 10px;">Here's what we have for you:</p>
</div>
<div class="container bg-white box-shadow rounded">
    
</div>
<div class="container bg-white box-shadow p-2 rounded">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
