@page
@model Project.Pages.ReadingModel
@{
    ViewData["Title"] = "Home page";
    <style>
        .Stripe {
        }
    </style>
}

<div class="text-center">
    <p><h5>Start Exploring English Texts Now.</h5></p>
    <p>Here's what we have for you:</p>
</div>
